<div class="container" data-controller="toggle">
  <div class="row">
    <div class="col-3 p-3">
      <ul class="list-group flex-column mb-auto">
        <li data-action="click->toggle#order" data-toggle-target="orderList" class="list-group-item list-group-item-action">Sale Orders</li>
        <li data-action="click->toggle#product" data-toggle-target="productList" class="list-group-item list-group-item-action">Products</li>
        <li data-action="click->toggle#review" data-toggle-target="reviewList" class="list-group-item list-group-item-action">Reviews</li>
      </ul>
    </div>
    <div data-toggle-target="orderButton" class=" col-9">
      <%= render "order_list" %>
    </div>
    <div data-toggle-target="productButton" class=" col-9">
      <%= render "product_list" %>
    </div>
    <div data-toggle-target="reviewButton" class=" col-9">
      <%= render "review_list" %>
    </div>
  </div>
</div>
