<div class="container" data-controller="toggle">
  <div class="row">
    <div class="card col-3 p-3">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-link"><%= link_to "Sale Orders", listed_figures_path  %></li>
        <li data-action="click->toggle#fire" class="nav-link">Products</li>
        <li class="nav-link">Reviews</li>
      </ul>
    </div>
    <div data-toggle-target="togglableElement" class=" col-9">
      <%= render "order_list" %>
    </div>
    <div class=" col-9">
      <%= render "product_list" %>
    </div>
  </div>
</div>
