<div class="d-flex justify-content-between container my-3">
  <% @animes.each do |anime| %>
    <%= link_to anime_path(anime), class: "text-decoration-none" do %>
      <% img = anime.photo.attached? ? cl_image_path(anime.photo.key) : image_path('logo.png') %>
      <div class="anime-card bg-image hover-zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= img %>)" >
        <%= anime.title %>
      </div>
    <% end %>
  <% end %>
</div>
