<div class="card flex-row p-1 m-1 border-0">
  <% @animes.each do |anime| %>
    <div class="card-body mx-1 card-outline text-center p-0 btn btn-outline-dark rounded object-fit-contain" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= anime.photo.attached? ? cl_image_path(anime.photo.key) : image_path("logo.png") %>)">
      <img src="" class="card-img-top" alt="">
      <h2><%= anime.title %></h2>
    </div>
  <% end %>
</div>
