<div class="card flex-row p-1 m-2 border-0">
  <% @animes.each do |anime| %>
    <div class="card-body mx-1 card-outline text-center p-0 pt-1">
      <h2><%= anime.title %></h2>
    </div>
  <% end %>
</div>

<style>
  .card-outline {
    border: 1px solid black;
  }
</style>
