<div class="banner mt-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://res.cloudinary.com/dckq0zged/image/upload/v1721401284/fdffixllexjztex4ystr.webp);">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="banner-title">Welcome to Ara-Ara</h1>
        <p class="banner-text">The best place to find and share your favorite figures</p>
      </div>
    </div>
  </div>
</div>
