<%= render 'anime-category-cards' %>
<%= render 'banner' %>
<div class="container mt-4">
  <h1 class="mb-3"><%= "Anime figures (#{@figures.count})" %></h1>
  <div class=" mx-auto">
    <div class="figures-container">
      <%= render 'shared/figure_card' %>
    </div>
  </div>
</div>
