<div class="container">
  <h1>Order History</h1>
  <% @orders.each do |order| %>
    <div class="card">
      <p class="card-title">order number :<%= order.id %></p>
      <p class="card-text">buyer username: <%= order.buyer.username %></p>
      <p class="card-text">anime figure from: <%= order.figure.anime.title %></p>
    </div>
  <% end %>
</div>
</div>
