<h1>Search Results</h1>
<% if @animes.any? %>
  <div class="anime-cards-container">
    <%= render 'shared/anime-category-cards', locals: { animes: @animes } %>
  </div>
<% else %>
  <p>No animes found</p>
<% end %>
