<div class="container">
  <div class="container mt-4">
    <h1 class="text-center"><%= "#{@anime.title} (#{@figures.count})"%> </h1>
    <div class="row">
      <%= render 'shared/figure_card' %>
    </div>
  </div>
</div>
