.dashboard-side-menu, .order-container, .product-container, .review-container {
  .card {
    border-radius: 12px;
  }
}

.dashboard-side-menu {
  width: 250px;
  height: fit-content;
  border-radius: 12px;

  .active {
    background-color: #CAC4D0;
  }

  div {
    border-radius: 12px;

    &:hover {
      background-color: #ede6f4;
    }
  }
}

.order-container {
  div {
    background-color: white;
  }

  .card-title {
    font-weight: bold;
  }
}

.product-container {
  .btn {
    background-color: #65558F;
    border-radius: 20px;
    color: white;
  }

  .figure-card {
    .image-container {
      min-width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
    }

    .btn {
      background-color: #7CA5C3;
    }

    border-radius: 16px;
    background-color: white;
  }
}

.fa-star {
  color: rgb(225, 225, 54);
}

.reviewer-info {
  p:first-child {
    font-weight: bold;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
}
