.dashboard-side-menu {
  width: 300px;
  height: fit-content;
  border-radius: 16px;

  .active {
    background-color: #CAC4D0;
  }

  div {
    border-radius: 16px;

    &:hover {
      background-color: #ede6f4;
    }
  }
}

.order-container {
  div {
    border-radius: 16px;
    background-color: white;
  }

  .card-title {
    font-weight: bold;
  }
}

.product-container {
  .btn {
    background-color: #65558F;
    border-radius: 12px;
    color: white;
  }

  .figure-card {
    .image-container {
      min-width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
    }

    .btn {
      background-color: #7CA5C3;
    }

    border-radius: 16px;
    background-color: white;
  }
}
